/* Селектор для выборки элементов
по классу
.main-text {
    color: red;
}*/

/*по идентификатору*/
#text-in-p {
  color: blue;
}

/*вложенные*/
div b,
div i {
  color: green;
}

/* Работа с псевдоклассами */
.main_link {
  color: red;
  text-decoration: none; /* none - нет подчеркивания; line-through - перечеркнуто; overline - подчеркивание сверху; underline - подчеркивание будет */
}

.main_link:hover /* Наводишь на текст */ {
  color: blue;
  text-decoration: underline;
  text-decoration-color: red;
  cursor: pointer;
}

.main_link:active /* Нажимаешь на текст */ {
  text-decoration: line-through;
}

.main_link:visited {
  color: grey;
}

input {
  color: blue;
}

input:focus {
  color: red;
}

p.text:not(:empty) {
  color: yellow;
}

/* Работа с псевдоэлементами */
#some_id::after {
  content: '123';
  color: red;
}

p.text:not(:empty)::after /* также есть before */ {
  content: 'Some';
  color: grey;
}

p.main_link::first-letter /* Первая буква, first-line - первая строка */ {
  color: green;
}

p:first-of-type /* Первый абзац, last-of-type - последний абзац */ {
  text-decoration: line-through;
}

/* Установка цвета заднего фона 
background-color: #b3d4e6; */

/* Добавление картинки на задний фон */
/*  background-image: url('сюда url картинки, либо полный путь к своему файлу'); либо можно вставить свою
    background-repeat: no-repeat; - не повторять, repeat-x, repeat-y
    background-position: center 
}*/

/* Работа с фоновыми картинками*/
/* body {
   background: #b3d4e6 url('ссылка на картинку') no-repeat center;
   height: 100vh
   background-size: cover;
   background-attachment: fixed; - фиксированный задний фон

        /* Стили для текста*/
/*.main_text {
    color: #000 (#000000) - (черный цвет, #ffffff - белый);
    text-align: center /*- (где находится текст, justify - по ширине);
    font-size: 1.2em /*(размер шрифта) (20px) (2em - в 2 раза больше);
    font-style: normal /*(italic - курсив);
    font-weight: 100 /*- жирный, bolder - ещё более жирный)
    font-family: 'Smooch Sans', sans-serif; - добавление нового шрифта
    text-transform: lower-case; - всё с маленькой буквы; uppercase - с большой буквы; capitalize - каждое слово с заглавной буквы
    word-spacing: 20px; - пространство между словами
    letter-spacing: 4px; - пространство между буквами
    line-height: 50px; - пространство между строками
}

/*Добавление нового шрифта*/
/*@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100;500;800&display=swap');*/
